@use "/src/@common/styles/colors.module.scss" as colors;

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: colors.$dark-blue;
}

.radioInput {
  display: none;
}

.radioLabel {
  display: flex;
  justify-content: center;
  align-items: center;

  $size: 32px;
  width: $size;
  height: $size;

  border-radius: 100vmax;
<<<<<<< HEAD

=======
}

.radioLabel {
>>>>>>> 717a7d7 (feat: add rating radio button)
  background-color: inherit;
  color: colors.$light-gray;
  & {
    filter: brightness(150%);
  }
  &:hover, &:active {
<<<<<<< HEAD
    filter: brightness(200%);
=======
    filter: brightness(180%);
  }

  &.selectedRadioLabel {
    background-color: colors.$orange;
    color: colors.$white;
    filter: brightness(100%);

    &:hover, &:active {
      filter: brightness(120%);
    }
>>>>>>> 717a7d7 (feat: add rating radio button)
  }
}
